<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles_index.css' %}">
    <script src="{% static 'diarioweb/js/script.js' %}"></script>
    <title>hi dear!</title>
</head>
<body>
    <main>
        <section class="index">
            <label for="Username">Username</label>
            <input type="text" id="Username" required>
            <br><br>
            <label for="clave">Clave</label><br>
            <div class="password-container">
                <input type="password" id="clave" required>
                <button type="button" id="togglePassword">
                    <img src="./img/gatoc.png" alt="Ver" id="eyeIcon" width="40px">
                </button>
            </div>
            <br><br>
            <a href="forgot.html">forgot password?</a>
            <br>
            <input type="checkbox">Remember me<br>
            <button type="submit">Log in</button>
            <br>
        </section>
        <section class="bottom">
            <h4>¿Eres nuevo aquí?</h4>
            <button class="open-modal" id="openModal">Sign up</button>

            <!-- Modal -->
            <div id="modalSignup" class="modal">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3>Crea tu cuenta ahora</h3>
                        <button type="button" class="btn-close" id="closeModal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <p>Un espacio seguro para desarrolladores como tú</p>
                        <form class="formulario_singup">
                            <label for="email">Email</label><br>
                            <input type="email" id="email" required><br>
                            <label for="telefono">Teléfono</label><br>
                            <input type="tel" id="telefono" required><br>
                            <label for="clave">Clave</label><br>
                            <input type="password" id="clave" required><br>
                            <button type="submit">Registrarme</button>
                            <p>Al seleccionar "Registrarme", aceptas nuestras <a href="Condiciones.html">condiciones</a></p>
                        </form>
                    </div>
                </div>
            </div>

            <h4>Or you can sign up with</h4>
            <br>
            <img src="./img/Gmail_icon_(2020).svg.png" width="50px">
            <img src="./img/Facebook_Logo_(2019).png" width="50px">
            <img src="./img/apple-round-icon-2048x2048-zvtpcb07.png" width="50px"><!--SE TIENE QUE CONECTAR A UNA API DE GITHUB, GOOGLE, FACEBOOK PARA PODER INICIAR SESION -->
        </section>
    </main>

    <script src="scripts.js"></script>
</body>
</html>
